/* src/index.css */

body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background-color: darkslategrey;
  color: white;

#root {
  width: 100%;
  height: 100%;
  background-color: darkslategrey;
}

ul {
  padding: 0;
  display: flex;
  list-style: none;
}

li {
  margin-right: 16px;
}

.mail-box {
  border: 2px solid white;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label,
button {
  margin: 16px 0px;
  font-weight: bold;
}
select {
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 81.5vw;
}
input {
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.letters {
  display: flexbox;
  flex-direction: column;
}
}
.mail-box > a:nth-child(1) {
  font-size: 22px;
  color: white;
}

.mail-box.highlight {
  background-color: white; 
  color: white;
}
textarea {
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 80vw;
}

button {
  background-color: #535bf2;
  padding: 10px;
  border-radius: 10px;
  width: 82vw;
  color: white;
}
